{% set menu_name=""%}
{% set sidebar_name = "" %}
{% extends '@view/layouts/base.twig' %}

{% block body %}

<div class="site-index">

    <div class="jumbotron" style="margin-top:60px;"><p></p><p></p><p></p><p></p>
        <h1>后台管理系统!</h1>


        
    </div>

    
</div>
{% endblock %}