

#form_two{
  position: relative;
  height: 300px;
}

#list-form{
    position: absolute;
    left: 0;
    top: 60px;
    width: 1200px;
}
#form_two .look{
    position: absolute;
    left: 325px;
    bottom: -50px;
}