{% extends '@view/layouts/main.twig' %}
{% set title = title is defined ? title : '业务规则分组' %}
{% block content %}
  <h2>添加规则分组</h2>
  <hr />

  <div class="col-lg-6">
    <div class="row">
      {% set form = ActiveForm.begin({
        id : 'server-form',
        type: constant('kartik\\widgets\\ActiveForm::TYPE_HORIZONTAL' ),
        formConfig: {labelSpan : 2,
                     deviceSize : constant('kartik\\widgets\\ActiveForm::SIZE_SMALL')}
      }) %}
      {{ form.field(model, 'name')|raw }}
      <div class="form-group">
        <label for="business-name" class="col-sm-2 control-label">&nbsp;</label>
        <div class="col-sm-4">
          <input type='submit' value='提交' class='btn btn-large btn-primary' /> 
        </div>
      </div>
      {{ void(form.end) }}
    </div>
<h3>规则分组列表</h3>
  <hr />
    {{ widget('yii\\grid\\GridView', {
    'dataProvider': dataProvider,
    'columns' : [
      'id',
      'name',
      {'class' : '\\common\\extensions\\GridActionColumn',
       'template' : ' {group} {groupdelete}'
       }
    ]
  }) }}
  </div>
{% endblock %}