{% extends '@view/layouts/main.twig' %}
{% set title='业务分配' %}

{% block content %}
  <h2>{{ server.name }}&nbsp;&nbsp;<span style="color:red">(ID：{{ server.id }})</span></h2>
  <hr />
  <p>
  </p>
  {% set form=ActiveForm.begin({
    id: 'assign-business-form',
    type: constant('kartik\\widgets\\ActiveForm::TYPE_HORIZONTAL' ),
    formConfig: {labelSpan : 2,
                 deviceSize : constant('kartik\\widgets\\ActiveForm::SIZE_SMALL')}
    
  }) %}

  {{ form.field(model, 'bids').checkboxlist(ArrayHelper.getColumn(bns, 'fullname'))|raw }}
  <div class="form-group">
    <label for="business-name" class="col-sm-2 control-label">&nbsp;</label>
    <div class="col-sm-4">
      <input type='submit' value='提交' class='btn btn-large btn-primary' /> 
    </div>
  </div>

  {{ void(form.end()) }}
  
{% endblock %}
